<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a routerLink="/Principal" class="navbar-brand">Sala De Juegos</a>
    <button
      type="button"
      class="btn navbar-toggler"
      data-toggle="collapse"
      data-target="#myNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="llamaService()">Servicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="llamaServicePromesa()">Serv Promesa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="llamaServicePromesa()">Serv observable</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<app-listado-de-resultados [listado]="listadoParaCompartir"></app-listado-de-resultados>
