<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a routerLink="/Principal" class="navbar-brand">Sala De Juegos</a>
    <button
      type="button"
      class="btn navbar-toggler"
      data-toggle="collapse"
      data-target="#navbar-quien-soy"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-quien-soy">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="dropdwn-juegos"
            role="button"
            data-toggle="dropdown"
          >
            ?
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdwn-juegos">
            <a class="dropdown-item" href="./QuienSoy#quien">¿Quien?</a>
            <a class="dropdown-item" href="./QuienSoy#que">¿Que es?</a>
            <a class="dropdown-item" href="./QuienSoy#donde">¿Donde?</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div id="quien" class="container-fluid bg-info text-white text-center">
  <h3 class="margin">Quién Soy?</h3>
  <img
    src="./assets/imagenes/quiensoy.jpg"
    class="img-thumbnail rounded mx-auto mb-3"
    width="350"
    height="350"
  />
  <h3>
    Soy Sebastian Rilo. Un alumno de la UTN FRA Cursando Lavoratorio IV durante
    el Primer Cuatrimestre 2020
  </h3>
</div>

<!-- Second Container -->
<div id="que" class="container-fluid bg-danger text-white text-center">
  <h3 class="margin">Esto es un trabajo práctico</h3>
  <p>
    Cada universidad, cada facultad, cada carrera y obviamente cada materia en
    particular tiene estrategias didácticas y formas de evaluación diferentes. A
    pesar de que en muchos casos las universidades intentan estandarizar la
    forma de dictar clase para generar un orden en las planificaciones
    cuatrimestre a cuatrimestre, las formas de evaluación son elementales tanto
    para las instituciones y profesores como para los alumnos. A través de la
    evaluación formativa el educador busca información en el alumno para lograr
    comprender cómo se está produciendo el proceso de aprendizaje y poder
    reajustar los objetivos pedagógicos. Y para el alumno es una muestra del
    progreso que está logrando y si puede aplicar, materializar y darle
    visibilidad a la comprensión del tema. Según Black y William (1998), la
    evaluación formativa, ayuda a que los estudiantes sean independientes a la
    hora del aprendizaje, es decir, se presenta como receptor, autorregulador y
    centro de esa misma evaluación.
  </p>
  <p>En esta sala nos encontramos con 5 juegos diferentes:</p>
  <div class="p-5 text-justify">
    <h3>Adivina El Numero:</h3>
  <p>
    Se genera un numero aleatorio entre 1 y 100. nuestro objetivo es adivinar
    que numero es en la menor cantidad de intentos posibles. nuestra unica ayuda
    es un simple mensaje indicandonos si nos pasamos o nos falta para llegar a
    este numero secreto
  </p>
  <h3>Agilidad Aritmetica</h3>
  <p>
    Se genera una operacion matematica aleatoria que debemos resolver en menos
    de 5 segundos.
  </p>
  <h3>Piedra Papel o Tijera</h3>
  <p>
    El juego clasico de piedra papel o tijera. tenemos que elegir una de las 3
    figuras y compararla con la elegida por el rival. de tener una figura mas
    fuerte ganamos. de lo contrario gana el rival o se llega a un empate
  </p>
  <h3>Anagrama</h3>
  <p>
    se genera una palabra desordenada y nuestro objetivo es decifrar la palabra
    original.
  </p>
  <h3>Blackjack</h3>
  <p>
    el juego clasico de cartas donde debemos llegar a un puntaje mas alto que la
    banca y menor a 21.
  </p>
</div>
  <a
    href="./assets/download/2019 Tp Sala de Juegos !!!Obligatorio.docx.pdf"
    download="TP sala de juegos 2020"
    class="btn btn-default btn-lg"
  >
    <span class="glyphicon glyphicon-file"></span> Descargar PDF
  </a>
</div>

<!-- Third Container (Grid) -->
<div id="donde" class="container-fluid bg-dark text-white text-center">
  <h3 class="margin">Dónde Funciona?</h3>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <p>
        Con las tecnologias WEB que permiten desarrollar aplicaciones
        multiplataforma
      </p>
      <img
        src="./assets/imagenes/quiensoy1.png"
        class="img-fluid margin"
        alt="Image"
      />
    </div>
    <div class="col-sm-4">
      <p>
        Principalmente orientada a la experiencia del usuario, garantizando que
        su funcionamieto sea fluido y pensado en el comportamiento del usuario y
        en la funcionalidad.
      </p>
      <img
        src="./assets/imagenes/quiensoy2.jpg"
        class="img-fluid margin"
        alt="Image"
      />
    </div>
    <div class="col-sm-4">
      <p>
        Para los sistemas operativos lideres en el mercado del consumo masivo
      </p>
      <img
        src="./assets/imagenes/quiensoy3.png"
        class="img-fluid margin"
        alt="Image"
      />
    </div>
  </div>
</div>
