<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a routerLink="/Principal" class="navbar-brand">Sala De Juegos</a>
    <button
      type="button"
      class="btn navbar-toggler"
      data-toggle="collapse"
      data-target="#myNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/Juegos" class="nav-link">Menú de Juegos</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="dropdwn-juegos"
            role="button"
            data-toggle="dropdown"
          >
            Juegos
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdwn-juegos">
            <a
              class="dropdown-item"
              data-toggle="tooltip"
              (click)="Juego('Adivina')"
              >Adivina</a
            >
            <a class="dropdown-item" (click)="Juego('Agilidad')">Agilidad</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="Juego('AdivinaMasListado')"
              >Adivina+listado</a
            >
            <a class="dropdown-item" (click)="Juego('AgilidadaMasListado')"
              >Agilidad+listado</a
            >
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><span class="fas fa-user-cog"></span> Mis Datos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Login"
            ><span class="fas fa-sign-out-alt"></span> Salir</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
