<div class="container mt-5 mx-auto bg-dark text-white text-center rounded">
  <img src="./assets/imagenes/error.png" class="img-thumbnail m-3" alt="">
  <div class="hero-text">
    <h1 style="font-size: 50px;">Sala de Juegos</h1>
    <p>Sebastian Rilo</p>
    <div>
      <a href="https://github.com/s3baRr00" target="_blank"
        >en GitHub <i class="fa fa-github"></i
      ></a>
    </div>
    <div>
      <a routerLink="/QuienSoy" target="_blank"
        >Quien Soy? <i class="fa fa-github"></i
      ></a>
    </div>
  </div>
  <div class="row p-4">
    <div class="col">
      <button
        type="button"
        class="btn btn-block btn-info"
        routerLink="/Registro"
      >
        <span class="fas fa-user"></span>Registrase
      </button>
    </div>
    <div class="col">
      <button
        type="button"
        class="btn btn-block btn-info"
        routerLink="/Registro"
      >
        <span class="fas fa-sign-in-alt"></span> Ingresar
      </button>
    </div>
  </div>
</div>
