<app-cabecera> </app-cabecera>

<div class="container mt-5 mx-auto">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
      <div
        class="card text-white bg-success list-group-item-action"
        data-toggle="collapse"
        data-target="#collapseExampleUno"
        aria-expanded="false"
        aria-controls="collapseExampleUno"
      >
        <img
          [src]="imgSaladejuegos"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            Juegos
          </h5>
          <div class="collapse" id="collapseExampleUno">
            <p class="card-text">
              Una sala de juegos de tematica sencilla. Actualmente hay 5 juegos
              disponibles.
            </p>
            <a routerLink="/Juegos" class="btn btn-primary">Entrar a Jugar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card text-white bg-warning list-group-item-action"
        data-toggle="collapse"
        data-target="#collapseExampleDos"
        aria-expanded="false"
        aria-controls="collapseExampleDos"
      >
        <img
          [src]="imgListado"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            Listado
          </h5>
          <div class="collapse" id="collapseExampleDos">
            <p class="card-text">
              Los listados de los resultados con ordenamiento y busqueda
            </p>
            <a routerLink="/Listado" class="btn btn-primary">Ver Listado</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card text-white bg-info list-group-item-action"
        data-toggle="collapse"
        data-target="#collapseExampleTres"
        aria-expanded="false"
        aria-controls="collapseExampleTres"
      >
        <img
          [src]="imgConfiguracionnueva"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            Configuracion
          </h5>
          <div class="collapse" id="collapseExampleTres">
            <p class="card-text">
              Ajustes de la aplicacion y los métodos de autentificación
            </p>
            <a routerLink="/Juegos" class="btn btn-primary"
              >Ir a Configuracion</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card text-white bg-dark list-group-item-action"
        data-toggle="collapse"
        data-target="#collapseExampleCuatro"
        aria-expanded="false"
        aria-controls="collapseExampleCuatro"
      >
        <img
          [src]="imgJugadores"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            Jugadores
          </h5>
          <div class="collapse" id="collapseExampleCuatro">
            <p class="card-text">
              Listado de jugadores
            </p>
            <a routerLink="/Jugadores" class="btn btn-primary"
              >Ver lista de Jugadores</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
