<div class="container m-auto">
  <div
    id="carousel-juegos"
    class="carousel slide carousel-multi-item mx-auto"
    data-ride="carousel"
  >
    <div class="controls-top row">
      <div class="col">
        <a
          class="btn btn-outline-success btn-block"
          href="#carousel-juegos"
          data-slide="prev"
          ><i class="fas fa-chevron-left"></i>
        </a>
      </div>
      <div class="col">
        <a
          class="btn btn-outline-success btn-block"
          href="#carousel-juegos"
          data-slide="next"
          ><i class="fas fa-chevron-right"></i
        ></a>
      </div>
    </div>

    <div class="carousel-inner border border-dark justify-content-center" role="listbox">
      <div class="card-deck">
        <div class="carousel-item active">
          <div class="card bg-warning text-white text-center">
            <img
              class="card-img-top p-2"
              src="./assets/imagenes/cerebro.png"
              alt="Avatar"
            />
            <div class="card-body">
              <h1 class="card-title">Velocidad y agilidad aritmética</h1>
              <p class="card-text">Juego de agilidad mental</p>
              <p class="card-text">UTN FRA</p>

              <div class="col">
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="Juego('Agilidad')"
              >
                Jugar
              </button>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card bg-success text-white text-center">
            <img
              class="card-img-top p-2"
              src="./assets/imagenes/ppt.png"
              alt="Avatar"
            />
            <div class="card-body">
              <h1 class="card-title">Piedra Papel o Tijera</h1>
              <p class="card-text">Juega contra la máquina</p>
              <p class="card-text">UTN FRA</p>
              <div class="col">
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="Juego('PPT')"
              >
                Jugar
              </button>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card bg-danger text-white text-center">
            <img
              class="card-img-top p-2"
              src="./assets/imagenes/adivina.png"
              alt="Avatar"
            />
            <div class="card-body">
              <h1 class="card-title">Adivina el número secreto</h1>
              <p class="card-text">Juega de estrategia</p>
              <p class="card-text">UTN FRA</p>
              <div class="col">
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="Juego('Adivina')"
              >
                Jugar
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-secondary text-white text-center">
            <img
              class="card-img-top p-2"
              src="./assets/imagenes/anagrama.png"
              alt="Avatar"
            />
            <div class="card-body">
              <h1 class="card-title">Anagrama</h1>
              <p class="card-text">Reconstruye la palabra</p>
              <p class="card-text">UTN FRA</p>
              <div class="col">
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="Juego('Anagrama')"
              >
                Jugar
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-light text-dark text-center">
            <img
              class="card-img-top p-2"
              src="./assets/imagenes/tateti.png"
              alt="Avatar"
            />
            <div class="card-body">
              <h1 class="card-title">Ta-Te-Ti</h1>
              <p class="card-text">forma una linea de 3</p>
              <p class="card-text">UTN FRA</p>
              <div class="col">
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="Juego('Tateti')"
              >
                Jugar
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-info text-white text-center">
            <img
              class="card-img-top p-2"
              src="./assets/imagenes/encontrar cartas/honor_diamond.png"
              alt="Avatar"
            />
            <div class="card-body">
              <h1 class="card-title">Encontrar el Diamante</h1>
              <p class="card-text">Encuentra el as de diamante y evita las picas</p>
              <p class="card-text">UTN FRA</p>
              <div class="col">
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <div class="col">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="Juego('Encontrar')"
              >
                Jugar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
