<div class="container">
  <form class="form mt-5 mx-auto text-white">
    <div class="imgcontainer">
      <img
        src="./assets/imagenes/login.png"
        alt="Avatar"
        class="avatar"
        max-width="100"
        max-height="100"
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        id="mail"
        class="form-control"
        placeholder="Ingresa tu correo"
        [(ngModel)]="usuario"
        name="email"
        required
      />
      <input
        type="password"
        id="clave"
        class="form-control"
        placeholder="ingresa tu clave"
        [(ngModel)]="clave"
        name="psw"
        required
      />
    </div>
    <div class="form-group form-check text-center">
      <input
        type="checkbox"
        class="form-check-input"
        id="check-recordar"
        checked="checked"
      />
      <label class="form-check-label" for="check-recordar"
        >Recordar mis datos</label
      >
    </div>
    <div class="mb-2">
      <button type="submit" class="btn btn-primary btn-block" (click)=Entrar() >Ingresar</button>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <button type="button" class="btn btn-danger btn-block" routerLink="/Principal">
          Cancelar
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-success btn-block" routerLink="/Registro">
          Registrarse
        </button>
      </div>
    </div>
    <p class="text-right">olvidaste <a href="#">tu contraseña?</a></p>
  </form>
</div>
